*{
    margin: 0;
}
body{
    background-color: rgb(253, 249, 249);
    background-image: url(wallpaper002.jpg);
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    
}

header{
background-color: rgba(114, 114, 114, 0.247);
border: 2px solid rgba(0, 0, 0, 0.295);
margin-bottom: 20px;

}

header > h1{
    text-align: center;
    font-size: 3em;
    color:rgb(255, 255, 255);
}

main{
    margin: 20px;
    border: 1px solid darkblue;
    background-color: white;
    width: 400px;
    padding: 10px;
    margin: auto;
}

table {
    border-collapse: collapse;
    width: 100%;
  }
  tr{
    border: 2px solid black;
  }
  #nome{
    border: 2px solid black;
    margin-left: 5px;

  }

  th {
    background-color: #9ecbfd;
  }
  td{
    margin-left: 10px;
  
  }


img{
    width: 50px;
    height: 50px;
    border: 1px solid black;
    margin-left: 60px;
}

#tecido{
    margin-left: -100px;
}
